.section {
  width: 100%;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    189deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 21, 56, 1) 70%,
    rgba(18, 27, 49, 1) 100%
  );
}

.container {
  display: flex;
  gap: 4rem;
  max-width: 1440px;
  margin: 0 auto;
  height: calc(100vh - 64px);
  justify-content: space-between;
  align-items: center;
  color: white;
}

.article h1 {
  font-size: 2.8rem;
  margin-bottom: 0.4rem;
}

.article h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  padding-bottom: 1.2rem;
  border-bottom: 5px solid white;
}

.article h3 {
  font-size: 1.6rem;
  margin: 1rem 0 1rem 0;
  font-weight: 500;
  text-transform: uppercase;
}

.article p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.button {
  background-color: #4f50ae;
  border: none;
  padding: 1.2rem 1rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
