.section {
  background-color: #000000;
  padding: 10rem 0;
  color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 2rem 5rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .container {
    justify-content: center;
  }
}
