.section {
  background-color: white;

  position: relative;
}

.section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6rem;
  background-color: white;
  left: 0;
  top: -5rem;
  border-radius: 20px 20px 0 0;
}

.section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6rem;
  background-color: white;
  left: 0;
  bottom: -5rem;
  border-radius: 0 0 20px 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.skills {
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.content h3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.selection {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.select {
  width: 30%;
  padding: 1rem;
  background-color: #00022c;
  color: white;
  border-radius: 20px;
}

.select__text {
  text-align: center;
  font-weight: 700;
}
